[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = 'https://nexus.engageska-portugal.pt/repository/pypi/simple'
verify_ssl = true
name = 'nexus'

[packages]
'skaskeleton' = {version='*', index='nexus'}

[dev-packages]

[packages]
aotools = "*"
astropy = "*"
bokeh = "*"
dask = "*"
distributed = "*"
h5py = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
matplotlib = "*"
numba = "*"
numpy = "*"
paramiko = "*"
photutils = "*"
python-casacore = "*"
graphviz = "*"
reproject = "*"
scikit-image = "*"
scipy = "*"
seqfile = "*"
configparser = "*"
tabulate = "*"

[requires]
python_version = "3.7"
