aotools
astropy
bokeh
dask==2.30.0
distributed==2.30.0
h5py
jupyter
jupyter_contrib_nbextensions
matplotlib
numba
numpy
paramiko
photutils
python-casacore
graphviz
reproject
scikit-image
scipy
seqfile
ConfigParser
tabulate
xarray
pandas
zarr
git+https://gitlab.mpcdf.mpg.de/ift/nifty_gridder.git#egg=nifty_gridder
BDSF
gitpython
python-gitlab
