black
docutils
MarkupSafe
Pygments
pylint
pylint-junit
pylint2junit
pytest
pytest-cov
pytest-pylint==0.17.0
pytest-json-report
pytest-xdist
python-dotenv>=0.5.1
Sphinx
sphinx_rtd_theme
sphinx-autobuild
sphinxcontrib-websupport
recommonmark
