aotools
astropy
bokeh
dask
dask-memusage
distributed
ducc0
h5py
jupyter
jupyter_contrib_nbextensions
matplotlib
numba
numpy==1.20.3
paramiko
photutils
python-casacore==3.3.1
graphviz
reproject
scikit-image
scipy
seqfile
ConfigParser
tabulate
xarray
pandas
zarr
bdsf
gitpython
python-gitlab
