aotools
astropy
astroplan
bokeh
dask
dask-memusage
distributed
ducc0
h5py
jupyter
jupyter_contrib_nbextensions
matplotlib
numba
numpy
paramiko
photutils
python-casacore
graphviz
reproject
scikit-image
scipy
seqfile
ConfigParser
tabulate
xarray
pandas
zarr
git+https://github.com/lofar-astron/PyBDSF.git@master#egg=bdsf
gitpython
python-gitlab
git+https://gitlab.com/ska-telescope/ska-post-correlation-rfi-flagger.git
